p {
    margin: 0;
}

.container {
    width: 600px;
    height: 200px;
    /* border: 1px solid black; */
}


.left {
    width: 66%;
    height: 100%;
    background-color: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}

.left .top {
    width: 100%;
    height: 50px;
    background-color: chocolate;
    padding: 10px;
    box-sizing: border-box;
}

.left .top .icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
}

.left .top .name {
    height: 50px;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
}

.left .top .name .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.left .bottom {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

.left .bottom .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left .bottom p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}

.left .bottom .share {
    height: 30px;
    text-align: right;
}

.left .bottom .share img {
    width: 30px;
    height: 30px;
}

.right {
    width: 34%;
    height: 100%;
    background-color: coral;
    display: inline-block;
}


img {
    width: 100%;
    height: 100%;
}