* {
    padding: 0;
    margin: 0;
}

.shop-bg {
    background-color: #eee;
    padding: 2cqmin;
}

/* .shop-container {
    display: flex;
    flex-direction: column;
    gap: 10cqmin;
} */

.shop-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.shop-item {
    width: 33%;
    overflow: hidden;
}

.shop-item img {
    width: 100%;
}

.overlay-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

/* overlay-wrap 에 hover 하면 
그 안의 overlay 의 속성이 바뀐다 */
.overlay-wrap:hover .overlay {
    top: 50%;
}
