.flex-container {
    display: flex;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 5px;
}

.nav-container {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: grey;
    padding: 5px;
}

.nav-item {
    margin: 5px;
    margin-right: 10px;
}
