@font-face {
    font-family: "downloaded-font";
    src: url("./font/NanumSquareR.ttf");
}

body {
    margin: 0;
    font-family: "gulim";
    font-size: 20px;
    font-weight: 900;

    transform: rotate(0deg);
}
