.cart-background {
    width: 100%;
    background-color: #f0f0f0;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

/* td 스타일링 */
td,
th {
    /* 기본 스타일 */
    /* border: 1px solid black; */
}

/* th 따로 해야함 */
.cart-table th {
    padding: 10px;
    border-bottom: 1px solid #c2d3de;
}

.cart-table td {
    padding: 10px;
    border-bottom: 1px solid #c2d3de;
}

/* .cell-long {
    width: 200px;
} */

/* 셀렉터 */
/* .cart-table 내의 th 중 두번째 나오는 th */
.cart-table th:nth-child(2) {
    width: 200px;
}

.buy-button {
    padding: 15px;
    cursor: pointer;
    background-color: coral;
    border: none;
    border-radius: 10px;
}

/* 순서 중요 */

.buy-button:hover {
    background-color: yellow;
}

/* 커서 찍혀있을 때 */
.buy-button:focus {
    background-color: green;
}

.buy-button:active {
    background-color: red;
}

.buy-input {
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.buy-input:focus {
    border: 2px solid red;
}

.buy-link {
    text-decoration: none;
}

.buy-link:link {
    color: black;
}

.buy-link:visited {
    color: red;
}
